---
- name: Install Trilio Operator
  ansible.builtin.include_role:
    name: install_operator
  vars:
    install_operator_action: install
    install_operator_name: k8s-triliovault
    install_operator_namespace: "{{ ocp4_workload_trilio_backup_restore_vms_namespace }}"
    install_operator_channel: "{{ ocp4_workload_trilio_backup_restore_vms_operator_channel }}"
    install_operator_catalog: certified-operators
    install_operator_automatic_install_plan_approval: true
    install_operator_csv_nameprefix: k8s-triliovault-stable

- name: Retrieve Ingress config
  kubernetes.core.k8s_info:
    api_version: config.openshift.io/v1
    kind: Ingress
    name: cluster
  register: r_ingress_config

- name: Get OpenShift Apps Domain
  ansible.builtin.set_fact:
    ocp4_workload_trilio_backup_restore_vms_apps_domain: "{{ r_ingress_config.resources[0].spec.domain }}"

- name: Create Trilio Roles
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', item) | from_yaml }}"
    namespace: "{{ ocp4_workload_trilio_backup_restore_vms_namespace }}"
  loop:
  - templates/tvk-triliovault-namespaces-role.yaml.j2
  - templates/tvk-triliovault-list-secrets-role.yaml.j2
  - templates/tvk-triliovault-demo-platform-user-role.yaml.j2

- name: Create Role Bindings for single Trilio user
  when: ocp4_workload_trilio_backup_restore_vms_user_count|int == 1
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', item) | from_yaml }}"
    namespace: "{{ ocp4_workload_trilio_backup_restore_vms_namespace }}"
  loop:
  - templates/single_user/tvk-edit-dr-user-namespace-role-binding.yaml.j2
  - templates/single_user/tvk-edit-trilio-system-role-binding.yaml.j2
  - templates/single_user/tvk-triliovault-demo-platform-user-role-binding.yaml.j2
  - templates/single_user/tvk-triliovault-list-secrets-role-binding.yaml.j2
  - templates/single_user/tvk-triliovault-namespaces-role-binding.yaml.j2

- name: Create Role Bindings for multiple Trilio users
  when: ocp4_workload_trilio_backup_restore_vms_user_count|int > 1
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', item) | from_yaml_all | list }}"
    namespace: "{{ ocp4_workload_trilio_backup_restore_vms_namespace }}"
  loop:
  - templates/multi_user/tvk-edit-dr-user-namespace-role-binding.yaml.j2
  - templates/multi_user/tvk-edit-trilio-system-role-binding.yaml.j2
  - templates/multi_user/tvk-triliovault-demo-platform-user-role-binding.yaml.j2
  - templates/multi_user/tvk-triliovault-list-secrets-role-binding.yaml.j2
  - templates/multi_user/tvk-triliovault-namespaces-role-binding.yaml.j2

- name: Create Trilio Vault Manager
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', 'templates/tvk-trilio-vault-manager.yaml.j2') | from_yaml }}"
    namespace: "{{ ocp4_workload_trilio_backup_restore_vms_namespace }}"

- name: Wait for CRD's to be created
  kubernetes.core.k8s_info:
    api_version: apiextensions.k8s.io/v1
    kind: CustomResourceDefinition
    name: "{{ item }}"
  register: r_trilio_crds
  retries: 120
  delay: 5
  until:
  - r_trilio_crds.resources | length > 0
  loop:
  - licenses.triliovault.trilio.io

- name: Create Trilio License
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', 'templates/tvk-license-file.yaml.j2') | from_yaml }}"
    namespace: "{{ ocp4_workload_trilio_backup_restore_vms_namespace }}"
  register: r_trilio_license
  until: r_trilio_license is succeeded
  retries: 120
  delay: 5

- name: Setup OAuth for Trilio
  ansible.builtin.include_tasks:
    file: ./setup_oauth.yml

- name: Create Trilio Console Plugin Resources
  kubernetes.core.k8s:
    state: present
    definition: "{{ lookup('template', item) | from_yaml }}"
    namespace: "{{ ocp4_workload_trilio_backup_restore_vms_namespace }}"
  loop:
  - templates/tvk-console-plugin-config-map.yaml.j2
  - templates/tvk-console-plugin-service.yaml.j2
  - templates/tvk-console-plugin-deployment.yaml.j2
  - templates/tvk-console-plugin.yaml.j2

- name: Get existing console plugins
  kubernetes.core.k8s_info:
    api_version: operator.openshift.io/v1
    kind: Console
    name: cluster
  register: r_console_config

- name: Set existing plugins list
  ansible.builtin.set_fact:
    _existing_plugins: "{{ r_console_config.resources[0].spec.plugins | default([]) }}"

- name: Add Trilio console plugin to plugins list
  ansible.builtin.set_fact:
    _merged_plugins: "{{ (_existing_plugins + ['tvk-console-plugin']) | unique }}"

- name: Patch console operator to enable Trilio plugin
  kubernetes.core.k8s:
    api_version: operator.openshift.io/v1
    kind: Console
    name: cluster
    definition:
      spec:
        plugins: "{{ _merged_plugins }}"
    state: patched

- name: Delete ROSA AWS credentials, if config is rosa-consolidated
  when: env_type == 'rosa-consolidated'
  become: true
  ansible.builtin.shell: |
    rm -rf /home/rosa/.aws/credentials

- name: Save user data
  when: ocp4_workload_trilio_backup_restore_vms_user_count|int == 0
  agnosticd.core.agnosticd_user_info:
    data:
      openshift_console_url: https://console-openshift-console.{{ ocp4_workload_trilio_backup_restore_vms_apps_domain }}
      trilio_user: "{{ ocp4_workload_trilio_backup_restore_vms_dr_user }}"
      trilio_password: "{{ ocp4_workload_trilio_backup_restore_vms_dr_user_password }}"
      showroom_url: https://showroom-showroom-{{ guid }}-{{ ocp4_workload_trilio_backup_restore_vms_dr_user }}.{{
        ocp4_workload_trilio_backup_restore_vms_apps_domain }}

- name: Save user data for each user
  when: ocp4_workload_trilio_backup_restore_vms_user_count > 0
  agnosticd.core.agnosticd_user_info:
    user: "{{ ocp4_workload_trilio_backup_restore_vms_dr_user_base }}{{ n + 1 }}"
    data:
      user: "{{ ocp4_workload_trilio_backup_restore_vms_dr_user_base }}{{ n + 1 }}"
      openshift_console_url: https://console-openshift-console.{{ ocp4_workload_trilio_backup_restore_vms_apps_domain }}
      trilio_user: "{{ ocp4_workload_trilio_backup_restore_vms_dr_user_base }}{{ n + 1 }}"
      trilio_password: "{{ ocp4_workload_trilio_backup_restore_vms_dr_user_password }}"
      showroom_url: https://showroom-showroom-{{ guid }}-{{
        ocp4_workload_trilio_backup_restore_vms_dr_user_base }}{{ n + 1 }}.{{
        ocp4_workload_trilio_backup_restore_vms_apps_domain }}
  loop: "{{ range(0, ocp4_workload_trilio_backup_restore_vms_user_count | int) | list }}"
  loop_control:
    loop_var: n
